QMainWindow {
    background-color: rgb(245, 245, 245);
}

QLabel {
    font-family: "Roboto";
}

QLabel[class="header"] {
    font-size: 32px;
    font-weight: bold;
}

QLabel[class="label"] {
    font-size: 15px;
    color: rgb(80, 80, 80);
}